<div id="container" class="box">
  <article>
    <h2><%= @post.title %></h2>
    <p class="subtitle"><%= @post.subtitle %></p>
    <img src="<%= @post.image_url %>" title="<%= @post.title %>"/>
  </article>

  <div id="news">
    <h3 id="morenews">Outras Notícias</h3>
    <ul class="post">
<% @posts.each do |post| %>
      <li>
        <a href="/noticias/<%= post.slug %>"><img src="<%= post.image_url %>" title="<%= post.title %>: <%= post.subtitle %>" class="thumb" /></a>
      </li>
<% end %>
    </ul>
  </div>
</div>
